.reveal section img {
  margin: 15px 0px;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.reveal img{
  max-width: 100% !important;
}
.welcome p{
  text-transform: capitalize;
}
.welcome .handle{
  text-transform: none;
  }

